<!-- Card component. -->
<div class="payment-card payment-card-lg">
  <!-- Card background, separated from the content to create seamless animations. -->
  <div class="payment-card-lg-bg payment-card-bg-{{ card.brand }}"
       *ngIf="showCard"
       [@fadeInAnimation]>
  </div>

  <!-- Card content. -->
  <div *ngIf="showCard"
       [@fadeInAnimation]>
    <div class="payment-card-lg-brand payment-card-img-{{ card.brand }}">
    </div>
    <div class="title title-name">
      nome
    </div>
    <div class="value value-name">
      {{ card.embossedName }}
    </div>
    <div class="title title-number">
      número do cartão
    </div>
    <div class="value value-number">
      {{ card.number | cardNumbers }}
    </div>
  </div>
</div>
