<div>
  <div class="card-type p-d-flex p-flex-column p-jc-center p-ai-center">
    <div class="card-owner">
      {{ getCardOwner() }}
    </div>
    <div class="card-benefits">
      {{ getCardTitle() }}
    </div>
  </div>
  <div>
    <!-- <app-card-detail-function title="Crédito"
                              [value]="card.isCreditActive ? 'ativo' : 'inativo'"
                              [icon]="card.isCreditActive ? 'pi-check-circle' : 'pi-times-circle'"
                              [color]="card.isCreditActive ? 'green' : 'red'"></app-card-detail-function>
    <app-card-detail-function title="Débito"
                              [value]="card.isDebitActive ? 'ativo' : 'inativo'"
                              [icon]="card.isDebitActive ? 'pi-check-circle' : 'pi-times-circle'"
                              [color]="card.isDebitActive ? 'green' : 'red'"></app-card-detail-function> -->
    <app-card-detail-function title="Validade"
                              [value]="this.card.validThru"></app-card-detail-function>
    <app-card-detail-function title="Código de Segurança"
                              [value]="this.card.securityCode"></app-card-detail-function>
  </div>
</div>
