<!-- Main Login template. -->
<div class="login-page sign-up-bg p-d-flex p-jc-center p-ai-center p-ac-center">
  <!-- Login card -->
  <div class="login-card">
    <p-card>
      <!-- Login header. -->
      <app-login-header subtitle="crie sua conta, é rápido e fácil"></app-login-header>

      <!-- Form - Show green colors and password min. length warning. -->
      <app-login-form [formGroup]="signUpForm"
                      [showPasswordMinLength]="true"
                      [showGreenForm]="true"
                      (finalFunction)="doSignUp()"></app-login-form>

      <!-- Form - buttons. -->
      <div class="login-buttons">
        <div class="p-grid p-flex-row-reverse">
          <div class="p-col-12">
            <button pButton
                    type="button"
                    class="form-button p-button-success"
                    label="criar conta"
                    [disabled]="!signUpForm.valid"
                    (click)="doSignUp()"></button>
          </div>
          <div class="p-col-12">
            <button pButton
                    type="button"
                    label="voltar para login"
                    class="p-button-outlined p-button-success"
                    (click)="goToLogin()"></button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>

<!-- Dialog - Pretending signing up worked. -->
<p-dialog header="Pronto!"
          (onHide)="goToLogin()"
          [(visible)]="signUpShowDialog"
          [baseZIndex]="10000">
  <p>Conta criada com sucesso!</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check"
              label="OK"
              styleClass="p-button-text p-button-success"
              (click)="signUpShowDialog = false"></p-button>
  </ng-template>
</p-dialog>
