<!-- Main Login template. -->
<div class="login-page login-bg p-d-flex p-jc-center p-ai-center p-ac-center">
  <!-- Login card -->
  <div class="login-card">
    <p-card>
      <!-- Login header. -->
      <app-login-header subtitle="acesse sua conta"></app-login-header>

      <!-- Form - simple mode. -->
      <app-login-form [formGroup]="loginForm"
                      (finalFunction)="doLogin()"></app-login-form>

      <!-- Form - buttons. Row reverse is added to make sure the positions make sense when the grid automatically repositions them. -->
      <div class="login-buttons">
        <div class="p-grid p-flex-row-reverse">
          <div class="p-sm-6 p-col-12">
            <button pButton
                    type="button"
                    class="form-button"
                    label="acessar"
                    [disabled]="!loginForm.valid"
                    (click)="doLogin()"></button>
          </div>
          <div class="p-sm-6 p-col-12">
            <button pButton
                    type="button"
                    label="criar conta"
                    class="p-button-outlined"
                    (click)="goToSignUp()"></button>
          </div>
          <div class="p-col-12">
            <button pButton
                    type="button"
                    label="esqueci minha senha"
                    class="p-button-link"
                    (click)="goToForgotPassword()"></button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>

<div *ngIf="isDoingLogin">
  <div class="login-loading p-d-flex p-jc-center p-ai-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <p-blockUI [blocked]="true"></p-blockUI>
</div>