<!-- Login Form. -->
<div class="login-form">
  <!-- Creating a Form Group, adding the green class if the value was sent from the component call. -->
  <form [formGroup]="formGroup"
        [ngClass]="{ 'form-green-color' : showGreenForm }"
        class="form">

    <!-- Both inputs have additional buttons (clear or show), and icons to indicate the field validation. -->
    <!-- Username field. -->
    <span class="p-float-label p-input-icon-right">
      <i class="pi pi-times-circle form-clickable"
         (click)="setFieldValue('username', ''); username.focus()"
         *ngIf="username.value"></i>
      <input #username
             pInputText
             required
             formControlName="username"
             type="text"
             (keyup.enter)="password.focus()">
      <label class="login-icon-valid"
             for="username">
        usuário
        <i class="pi"
           [ngClass]="{
                        'pi-check' : getFieldValid('username'),
                        'pi-times' : !getFieldValid('username')
                      }"
           [style.color]="getFieldValid('username') ? '#14ad14' : '#f44336'"
           style="font-size: 10px;"
           *ngIf="getFieldValid('username') || getFieldDirty('username')"></i>
      </label>
    </span>

    <!-- Password field. -->
    <span class="p-float-label p-input-icon-right">
      <i class="pi form-clickable"
         (click)="showPassword = !showPassword"
         [ngClass]="!showPassword ? 'pi-eye' : 'pi-eye-slash'"></i>
      <input #password
             pInputText
             required
             formControlName="password"
             (keyup.enter)="tryFinalFunction()"
             [type]="!showPassword ? 'password' : 'text'">
      <label for="password">
        senha
        <span style="color: #f44336">
          {{ showPasswordMinLength && password.value && !getFieldValid('password') ? '(mín. de 8 caracteres)' : '' }}
        </span>
        <i class="pi"
           [ngClass]="{
                        'pi-check' : getFieldValid('password'),
                        'pi-times' : !getFieldValid('password')
                      }"
           [style.color]="getFieldValid('password') ? '#14ad14' : '#f44336'"
           style="font-size: 10px;"
           *ngIf="getFieldValid('password') || getFieldDirty('password')"></i>
      </label>
    </span>
  </form>
</div>
