<div class="login-page forgot-password-bg p-d-flex p-jc-center p-ai-center p-ac-center">
  <div class="login-card">
    <p-card>
      <app-login-header subtitle="esqueceu a senha? nos informe o usuário que enviamos um e-mail pra você!"></app-login-header>

      <span class="p-float-label p-input-icon-right">
        <i class="pi pi-times-circle form-clickable"
           *ngIf="username.value"></i>
        <input #username
               pInputText
               required
               type="text"
               (keyup.enter)="doForgotPassword()">
        <label class="login-icon-valid"
               for="username">
          usuário
          <i class="pi"
             [ngClass]="{
                          'pi-check' : username.value,
                          'pi-times' : !username.value
                        }"
             style="font-size: 10px;"
             *ngIf="username.value"></i>
        </label>
      </span>

      <div class="login-buttons">
        <div class="p-grid p-flex-row-reverse">
          <div class="p-col-12">
            <button pButton
                    type="button"
                    class="form-button p-button-success"
                    label="recuperar senha"
                    [disabled]="!username.value"
                    (click)="doForgotPassword()"></button>
          </div>
          <div class="p-col-12">
            <button pButton
                    type="button"
                    label="voltar para login"
                    class="p-button-outlined p-button-success"
                    (click)="goToLogin()"></button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>

<p-dialog header="Pronto!"
          (onHide)="goToLogin()"
          [(visible)]="forgotPasswordShowDialog"
          [baseZIndex]="10000">
  <p>O procedimento de recuperação de senha foi enviado para o e-mail cadastrado!</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check"
              label="OK"
              styleClass="p-button-text p-button-success"
              (click)="forgotPasswordShowDialog = false"></p-button>
  </ng-template>
</p-dialog>
