/* Imports */
@import '~normalize.css';

/* Global Styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #fbfbfb;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

/* Overriding Styles */
.p-button {
  color: #495057
}

/* Animations */
@keyframes moving-background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}